<h1>Please choose from the following: </h1>
<%=flash[:message]%>
  <%= form_for(@character) do |f| %><br>
  <%= f.label :name%><br>
  <%= f.text_field :name%><br>
  <%= f.label :gender%><br>
  <%= f.select :gender, ['male', 'female']%><br>
  <%= f.select :alignment, ['Lawful Good', 'Neutral Good', 'Chaotic Good', 'Lawful Neutral', 'True Neutral', 'Chaotic Neutral', 'Lawful Evil', 'Neutral Evil', 'Chaotic Evil']%><br>
  <%= f.collection_select :race_id, Race.all, :id, :name %><br>
  <%= f.collection_select :job_id, Job.all, :id, :name %><br>
  <%= f.label :int%><br>
  <%= f.number_field :int%><br>
  <%= f.label :str%><br>
  <%= f.number_field :str%><br>
  <%= f.label :dex%>           <br>
  <%= f.number_field :dex%><br>
  <%= f.label :wis%><br>
  <%= f.number_field :wis%><br>
  <%= f.label :cha%><br>
  <%= f.number_field :cha%><br>
  <%= f.label :con%><br>
  <%= f.number_field :con%><br>
  <%= f.label :hp%><br>
  <%= f.number_field :hp%><br>
  <%= f.label :ac%><br>
  <%= f.number_field :ac%><br>
  <%= f.label :initiative%><br>
  <%= f.number_field :initiative%><br>
  <%= f.label :equipment%><br>
  <%= f.text_field :equipment%><br>
  <%= f.label :size%><br>
  <%= f.text_field :size%><br>
  <%= f.label :languages%><br>
  <%= f.text_field :languages%><br>
  <%= f.label :saving_throws%><br>
  <%= f.collection_select :spell_ids, Spell.all, :id, :name %><br>
  <%= f.collection_select :skill_ids, Skill.all, :id, :name %><br>
  <%= f.submit %>
<% end %>
<%= button_to "Characters", characters_path%>