<h1><%= @character.name%></h1>

    <%= form_for(@character) do |f| %>
    <%=  f.label :name%>
    <%=  f.text_field :name%>
    <%=  f.label :gender%>
    <%=  f.select :gender, [['male'], ['female']]%>
    <%=  f.label :int%>
    <%=  f.number_field :int%>
    <%=  f.label :str%>
    <%=  f.number_field :str%>
    <%=  f.label :dex%>
    <%=  f.number_field :dex%>
    <%=  f.label :wis%>
    <%=  f.number_field :wis%>
    <%=  f.label :cha%>
    <%=  f.number_field :cha%>
    <%=  f.label :con%>
    <%=  f.number_field :con%>
    <%=  f.label :int_mod%>
    <%=  f.number_field :int_mod%>
    <%=  f.label :str_mod%>
    <%=  f.number_field :str_mod%>
    <%=  f.label :dex_mod%>
    <%=  f.number_field :dex_mod%>
    <%=  f.label :wis_mod%>
    <%=  f.number_field :wis_mod%>
    <%=  f.label :cha_mod%>
    <%=  f.number_field :cha_mod%>
    <%=  f.label :con_mod%>
    <%=  f.number_field :con_mod%>
    <%=  f.label :hp%>
    <%=  f.number_field :hp%>
    <%=  f.label :equipment%>
    <%=  f.text_field :equipment%>
    <%=  f.label :ac%>
    <%=  f.number_field :ac%>
    <%=  f.label :alignment%>
    <%=  f.text_field :alignment%>
    <%=  f.label :size%>
    <%=  f.text_field :size%>
    <%=  f.label :languages%>
    <%=  f.text_field :languages%>
    <%=  f.label :saving_throws%>
    <%=  f.text :saving_throws%>
    <%=  f.label :initiative%>
    <%=  f.number_field :initiative%>
    <%=  f.label :traits%>
    <%=  f.text_field :traits%>
    <%= f.submit%>
    <%end%>
