<h1>Name: <%= @character.name%></h1>

<div>
<h3>Gender: <%= @character.gender%> </h3>
<h3>Race: <%=link_to @race.name, race_path(@race)%></h3>
<h3>Class: <%=@job.name%></h3>
<h3>Intelligence: <%= @character.int%></h3>
<h3>Strength: <%= @character.str%></h3>
<h3>Dexterity: <%= @character.dex%></h3>
<h3>Wisdom: <%= @character.wis%></h3>
<h3>Charisma: <%= @character.cha%></h3>
<h3>Constitution: <%= @character.con%></h3>
<h3>Hit Points: <%= @character.hp%></h3>
<h3>Armor Class: <%= @character.ac%></h3>
<h3>Initiative: <%= @character.initiative%></h3>

</div>

<div>
<h3>Equipment: <%= @character.equipment%></h3>
<h3>Alignment: <%= @character.alignment%></h3>
<h3>Size: <%= @character.size%></h3>
<h3>Languages: <%= @character.languages%></h3>
<h3>Saving Throws: <%= @character.saving_throws%></h3>
<%@character.spells.each do |spell|%>
<h3><%= link_to spell.name, spell_path(spell)%></h3><br>
<%end%>
<%@character.skills.each do |skill|%>
<h3><%= link_to skill.name, skill_path(skill)%></h3><br>
<%end%>
</div>









<%=button_to "Characters", characters_path, method: :get%>
<%=button_to "Edit Character", edit_character_path(@character), method: :get%>
<%=button_to "New character", new_character_path%>
<%= button_to "Destroy character", character_path(@character), method: :delete%>



